body {
  line-height: 1.5;
  font-style: normal;
  margin: 0;
  background-color: #fbfbfb;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

#header {
  color: #222;
}

#main-wrapper {
  padding-left: 5rem;
  padding-top: 5.325rem;
}

.flyout-trigger {
  width: 1.5rem;
  height: 1.125rem;
  position: fixed;
  left: 1.75rem;
  top: 2rem;
  cursor: pointer;
  z-index: 110;
}

.flyout-trigger__bar {
  display: block;
  width: 100%;
  height: .125rem;
  border-radius: .25rem;
  position: absolute;
  left: 0;
  background: #222;
  transition: all .5s ease;
}

.flyout-trigger__bar:nth-child(1) {
  top: 0;
}

.flyout-trigger__bar:nth-child(2) {
  opacity: 1;
  top: .5rem;
}

.flyout-trigger__bar:nth-child(3) {
  bottom: 0;
}

#header.flyout-shown .flyout-trigger__bar,
#header.sub-menu-shown .flyout-trigger__bar {
  top: 50%;
  left: 50%;
}

#header.flyout-shown .flyout-trigger__bar:nth-child(1),
#header.sub-menu-shown .flyout-trigger__bar:nth-child(1) {
  transform: translate(-50%, -50%) rotate(135deg);
}

#header.flyout-shown .flyout-trigger__bar:nth-child(2),
#header.sub-menu-shown .flyout-trigger__bar:nth-child(2) {
  opacity: 0;
  transform: translate(-150%, -50%);
}

#header.flyout-shown .flyout-trigger__bar:nth-child(3),
#header.sub-menu-shown .flyout-trigger__bar:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-135deg);
}

.side-bar {
  position: fixed;
  background: 0 0;
  left: 0;
  top: 0;
  width: 4.9375rem;
  height: 100%;
  z-index: 35;
  border-right: .0625rem solid #e0e0e0;
  transition: all .5s ease;
}

.side-bar__text {
  transition: all .5s ease;
  transform: translate3d(-50%, -50%, 0) rotate(-90deg);
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  font-size: .6875rem;
  letter-spacing: .125rem;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  white-space: nowrap;
}

.header__top .logo-block {
  position: absolute;
  left: 5rem;
  font-weight: 700;
}

.header__top {
  box-sizing: border-box;
  width: calc(100% - 5rem);
  height: 5.625rem;
  z-index: 30;
  padding: 0 2.5rem 0 14.0625rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: 0 0;
  position: absolute;
  top: 0;
  right: 0;
  transition: background .5s ease;
}

.header__top ul {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0;
  list-style: none;
}

.header__top ul a {
  transition: all .5s ease;
  margin: 0 .9375rem;
  text-transform: uppercase;
  font-size: .75rem;
  cursor: pointer;
  color: #222;
  font-weight: 500;
  letter-spacing: .0625rem;
  display: inline-block;
  line-height: 1.2;
  padding: 0;
  position: relative;
}
.header__top ul a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: currentColor;
  height: 1px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform .35s cubic-bezier(.3,.1,.3,1);
}

.header__top ul a:hover::before {
	transform: scaleX(1);
  transform-origin: left center;
}
.front-slider img {
  height: 90vh;
}

.front-slider .swiper-slide {
  width: 85%;
  position: relative;
}

.front-slider .slider-content {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.front-slider .slider-content h2 {
  margin-bottom: 10px;
  font-size: 46px;
  white-space: nowrap;
  margin-top: 0;
}

.front-slider .slider-content p {
  margin: 3px 0;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.front-slider .slider-content a {
  width: 250px;
  height: 50px;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  background-color: #fff;
  margin: 0 auto;
  transition: all .3s ease-in-out;
}

.front-slider .slider-content a:hover {
  background-color: transparent;
  color: #fff;
}
.front-slider .swiper-button-prev:after,
.front-slider .swiper-button-next:after {
  color: #888;
  font-size: 25px;
}

.front-slider .swiper-button-prev:hover:after,
.front-slider .swiper-button-next:hover:after {
  color: #fff;
}

.front-slider .swiper-pagination-fraction,
.front-slider .swiper-pagination-custom,
.swiper-container-horizontal.front-slider>.swiper-pagination-bullets {
  bottom: 30px;
}

.front-slider .swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid #888;
}
.front-slider .swiper-pagination-bullet:hover {
  border-color: #fff;
}
.front-slider .swiper-pagination-bullet-active {
  background-color: #fff;
}

.flyout-menu {
  position: absolute;
  width: 50%;
  height: calc(100% - 5rem);
  bottom: 0;
  left: -50%;
  transition: all .5s cubic-bezier(.42,0,.58,1);
  background-color: #fbfbfb;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flyout-shown .flyout-menu {
  left: 0;
}